<template name="landing">
<div id="hero">
  <div class="container">
    <!-- starts carousel -->
    <div class="row animated fadeInDown">
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- carousel items -->
          <div class="carousel-inner">
            <!-- slide -->
            <div class="active item slide1">
              <div class="row">
                <div class="span6">
                  <img src="img/slide1.png" alt="slide1" />
                </div>
                <div class="span4">
                  <h1>
                    Learn the core of any language in three hours.
                  </h1>
                  <p>
                  We use cutting-edge algorithms to teach you the most important words of a language as quickly as possible. Our spaced-repetition approach is designed to maximize retention.
                  </p>
                  <a href="https://wrapbootstrap.com/theme/measure-responsive-business-theme-WB0D95984" class="btn btn-success btn-large">
                    Start Learning Now!
                  </a>
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide2">
              <div class="row">
                <div class="span4 animated fadeInUpBig">
                  <h1>Fully responsive blog template</h1>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <a href="blog.html" class="btn btn-success btn-large">
                    Watch it now!
                  </a>
                </div>
                <div class="span6 animated fadeInDownBig">
                  <img src="img/slide2.png" alt="slide2" />
                </div>
              </div>
            </div>
            <!-- slide -->
            <div class="item slide3 animated fadeInUpBig">
              <img src="img/slide3.png" alt="slide3" />
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="intro">
  <div class="container">
    <h1>Zaum is the most efficient way to learn a new language.</h1>
  </div>
</div>

<!-- features -->
<div id="features">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>Features</span>
      <hr class="right visible-desktop">
    </h2>

    <!-- feature list -->
    <div class="row">
      <div class="span4 feature">
        <img src="img/feature1.jpg" alt="feature1" class="thumb" />
        <h3>
          <i class="i_cloud"></i> Responsive clean theme
        </h3>
        <p class="description">
        There are many variations of passages of Lorem Ipsum available, but the 
        majority have suffered alteration in some form, by injected humour, or randomised 
        words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
      <div class="span4 feature">
        <img src="img/feature2.jpg" alt="feature2" class="thumb" />
        <h3>
          <i class="i_chart"></i> Responsive clean theme
        </h3>
        <p class="description">
        There are many variations of passages of Lorem Ipsum available, but the 
        majority have suffered alteration in some form, by injected humour, or randomised 
        words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
      <div class="span4 feature">
        <img src="img/feature3.jpg" alt="feature3" class="thumb" />
        <h3>
          <i class="i_movil"></i> Responsive clean theme
        </h3>
        <p class="description">
        There are many variations of passages of Lorem Ipsum available, but the 
        majority have suffered alteration in some form, by injected humour, or randomised 
        words which don't look even slightly believable.
        </p>
        <a href="#" class="btn btn-default">more</a>
      </div>
    </div>
  </div>
</div>

<!-- starts pricing -->
<div id="pricing">
  <div class="container">
    <!-- header -->
    <h2 class="section_header">
      <hr class="left visible-desktop">
      <span>
        Pricing 
        <small>
          See all plan details here</small>
      </span>
      <hr class="right visible-desktop">
    </h2>

    <!-- pricing charts -->
    <div class="row">
      <div class="span4">
        <div class="price_wrapper lite regular">
          <div class="header">
            <span>Lite</span>
            <div class="price">
              <span>$ 35</span>
              Per Month
            </div>
          </div>
          <div class="section">
            <h3>Passages of Lorem randomised
              words which look slightly.</h3>
            <ul class="perks">
              <li>
              <i class="i_shuffle"></i>
              Cross-browser
              </li>
              <li>
              <i class="i_loading"></i>
              Fast-loading
              </li>
            </ul>
            <a href="#" class="btn">Order now</a>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="price_wrapper pro">
          <div class="header">
            <span>Pro</span>
            <div class="price">
              <span>$ 99</span>
              Per Month
            </div>
          </div>
          <div class="section">
            <h3>Passages of Lorem randomised
              words which look slightly.</h3>
            <ul class="perks">
              <li>
              <i class="i_shuffle"></i>
              Cross-browser
              </li>
              <li>
              <i class="i_loading"></i>
              Fast-loading
              </li>
              <li>
              <i class="i_bookmark"></i>
              Bookmarkable URLs
              </li>
              <li>
              <i class="i_bars"></i>
              W3C Standards
              </li>
            </ul>
            <a href="#" class="btn">Order now</a>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="price_wrapper standard regular">
          <div class="header">
            <span>Standard</span>
            <div class="price">
              <span>$ 65</span>
              Per Month
            </div>
          </div>
          <div class="section">
            <h3>Passages of Lorem randomised
              words which look slightly.</h3>
            <ul class="perks">
              <li>
              <i class="i_shuffle"></i>
              Cross-browser
              </li>
              <li>
              <i class="i_loading"></i>
              Fast-loading
              </li>
              <li>
              <i class="i_bookmark"></i>
              Bookmarkable URLs
              </li>
            </ul>
            <a href="#" class="btn">Order now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- starts testimonial -->
<div id="testimonials">
  <div class="container">
    <div class="controls">
      <hr>
    </div>
    <div class="phrases_wrapper">
      <div class="phrase">
        <div class="row">
          <div class="span7">
            <p class="testimony">
            There are many variations of passages words which don't look even slightly passage of anything embarrassing hidden in the middle.
            <span>"</span>
            </p>
          </div>
          <div class="span3 offset1">
            <div class="pic">
              <img src="img/pic1.jpg" alt="author" class="img-circle" />
              <span class="name">Alejandra Galvan Castillo</span>
              <span class="position">Bootstrap wizard</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
