<template name="cards">
<div class="container">
  <div class="row">
    <div class="span12">
      <h2 class="section_header"><hr class="left visible-desktop"><span>{{ deck.title }}</span><hr class="right visible-desktop"></h2>
    </div>
  </div>
  <div class="row">
    <div class="span3">
    </div>
    <div class="span6">
      {{#if finished}}
      <div class="span3">
        <h3>Stats</h3>
        <hr class="bright" />
        {{good}}
        {{okay}}
        {{bad}}
      </div>
      {{else}}
      <div class="card">
        <div class="front">
          {{ card.front }}
        </div>
        <div class="back {{#unless flipped}}hide{{/unless}}">
          <hr />
          {{ answer }}
        </div>
      </div>
      <div class="progress">
        <div class="bar bar-success" style="width: {{good}}%;"></div>
        <div class="bar bar-warning" style="width: {{okay}}%;"></div>
        <div class="bar bar-danger" style="width: {{bad}}%;"></div>
      </div>
      <hr class="bright" />
      <div class="cardControls">
        <a href="#" class="finished btn btn-success">Finished</a>
      </div>
      {{/if}}
    </div>
    <div class="span3">
    </div>
  </div>
</div>
</template>
